@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-8xl font-bold;
    }

    h2 {
        @apply text-4xl font-bold;
    }
}

[x-cloak] {
    display: none;
}
